.review-items {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  padding: 8px;
  margin-top: 21px;
  width: 571px;
  display: flex;
}

.review-items img {
  width: 91px;
  height: 91px;
}

.review-item-details p {
  margin: 0;
}

.review-item-details-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review-items .delete-button {
  background: rgba(235, 87, 87, 0.3);
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  cursor:pointer;
}

.review-items .delete-container{
    display: flex;
    align-items: center;
}

.delete-icon {
  color: red;
  font-size: 27px;
}
